#home {
#citizenvoice{

#triangle-green {
  transform: skew(22deg);
  position:absolute;
  bottom: -27px;
  right:10px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 15px solid transparent;
  border-top: 12px solid $half-cit-green;
}
#triangle-white {
  transform: skew(22deg);
  position: absolute;
  bottom: -23px;
  right: 11px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 15px solid transparent;
  border-top: 12px solid white;
}
.animate-votes {
  color: $cit-green;
  margin-top: 3px;
  font-size:25px;
  font-family: 'museo-sans';
  position: absolute;
  border-radius: 5px;
  margin: 0px;
  top:0;
  bottom:0;
  left:0;
  right:0;
  text-align: center;
  background-color: white;
}
.text-line{
  height:1px;
  border-top:2px solid #DCDCDC;
  border-bottom: 2px solid #DCDCDC;
  border-radius: 2px;
  margin-top: 3px;
  margin-bottom: 5px;
}
.text-last-line{
  width:70%;
  z-index: 99;
}
#post-title{
  border-top:3px solid $cit-green;
  border-bottom: 3px solid $cit-green;
  width: 75%;
  margin-bottom: 15px;
}
#play-button{
   transition:opacity 1s;
   left:120px;
   position:absolute;
   z-index: 99;
   width:250px;
   bottom:-300px;
   display:flex;
   align-items:center;
   flex-direction:column;
     h3 {
      font-family: 'museo-sans';
      color:$half-cit-green;
     }
}
#end-animation{
      animation-name: hideTitles;
      animation-delay:$animation-length + 2s;
      animation-duration:1s;
      animation-iteration-count: 1;
      animation-timing-function: linear;
      animation-fill-mode: forwards;
      animation-play-state: paused;
      opacity:1;
        @keyframes hideTitles {
          0% {
            opacity:1;
          }
          100%{
            opacity:0;
          }
        }
}
#flash-titles-container {
  margin-top: -50px;
  position:absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display:flex;
  align-items:center;
  justify-content:center;
    #last-title{
      h2 {
        font-family: 'museo-sans';
        height:0px;
        margin:0px;
        color:#4E4E4E;
        font-size: 40px;
      }
      width:500px;
      position:absolute;
      height:300px;
      overflow: hidden;
      text-align: center;
      padding-top: 100px;
      animation-name: showLastTitle;
      animation-delay:$animation-length + 3s;
      animation-duration:4s;
      animation-iteration-count: 1;
      animation-timing-function: linear;
      animation-fill-mode: forwards;
      animation-play-state: paused;
      opacity:0;
    }
    @keyframes showLastTitle {
            0% {
              opacity:0;
            }
            15%{
              opacity:0;
            }
            25%{
              opacity:1;
            }
            85%{
              opacity:1;
            }
            100%{
              opacity:0;
            }
            100%{
              opacity:0;
            }
    }
    #flash-titles-view-box {
      width:500px;
      height:300px;
      overflow: hidden;
      text-align: center;
      padding-top: 0px;
      animation-name: showTitles;
      animation-delay:1s;
      animation-duration:$animation-length;
      animation-iteration-count: 1;
      animation-timing-function: linear;
      animation-fill-mode: forwards;
      animation-play-state: paused;
      opacity:0;
        @keyframes showTitles {
            0% {
              opacity:0;
            }
            10%{
              opacity:1;
            }
            33%{
              opacity:1;
            }
            38%{
              opacity: 0;
             }
           44% {
            opacity:0;
           }
           50%{
            opacity:1;
           }
           70%{
            opacity:1;
           }
           75%{
            opacity:1;
           }
           81%{
            opacity:0;
           }
           90% {
            opacity:0;
           }
           100% {
            opacity:1;
           }
        }
    h2 {
      padding-bottom: 400px;
      font-family: 'museo-sans';
      height:0px;
      margin:0px;
      color:#4E4E4E;
      font-size: 40px;
    }
    span {
      color: $cit-green;
    }
    #title-control{
      animation-name: titleSlide;
      animation-duration:$animation-length;
      animation-fill-mode: forwards;
      animation-delay:1s;
      animation-iteration-count: 1;
      animation-timing-function: linear;
      animation-play-state: paused;
     }
      @keyframes titleSlide {
        0% {
          margin-top: 0px;
        }
        38%{
          margin-top: 0px;
        }
        39%{
          margin-top: -400px;
        }
        89%{
          margin-top: -400px;
        }
        90% {
          margin-top: -800px;
        }
        100% {
          margin-top: -800px;
        }
      }
  }
}

#citizen-voice-main-text{
  animation-name:hideShow;
  animation-play-state: paused;
  animation-duration: $animation-length + 8s;
  // animation-delay: $delay;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes hideShow {
  0% {
    opacity:1;
  }
  5%{
    opacity:0;
  }
  95% {
    opacity:0;
  }
  100%{
    opacity:1;
  }
}

.play-animation {
  animation-play-state: running !important;
}
#play-stroked-path{
  animation-name: spinCounterClockwise;
  animation-iteration-count: infinite;
  animation-duration:20s;
  transform-origin:50% 50%;
  animation-timing-function: linear;
}
#play-solid-path{
  animation-name: spinClockwise;
  animation-duration:23s;
  animation-iteration-count: infinite;
  transform-origin:50% 50%;
  animation-timing-function: linear;
}
@keyframes spinCounterClockwise {
  0% {
    transform:rotate(360deg)
  }
  100% {
    transform:rotate(0deg)
  }
}
@keyframes spinClockwise {
  0% {
    transform:rotate(0deg)
  }
  100% {
    transform:rotate(360deg)
  }
}
.text-block{
  // height:30px;
  width:75%;
  margin-bottom: 2px;
  margin-top: 4px;
}

.dynamic-speech-bubble {
  // transform:scale(0.8);
  flex-direction: column;
  display:flex;
  align-items:center;
  // justify-content:center;
  position:absolute;
  z-index: 99;
  width:70px;
  height:43px;
  border: 2px solid $half-cit-green;
  border-radius: 7px;
  background-color: white;
  // opacity:0;
}
#speech-bubble-1{
  bottom:150px;
  left:150px;
}
#speech-bubble-2{
  bottom:210px;
  left:490px;
}
#speech-bubble-3{
  bottom:140px;
  right:200px;
}

span#post-tag {
  color:$half-cit-green;
  font-size: 24px;
  bottom:20px;
  left:30px;
  max-width: 30px !important;
  max-height: 30px !important;
  position:absolute;
}
img#tagged-avi {
  max-width:20px !important;
  max-height: 20px !important;
  bottom:23px;
  left:50px;
  position:absolute;
}

#post-paragraph-end{
  margin-bottom: 15px;
}

.animate-speech-bubble {
  animation-name: animate-speech-bubble;
  animation-duration: $animation-length;
  animation-delay: $delay;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: paused;
  opacity:0;
}
@keyframes animate-speech-bubble {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.animate-votes {
  opacity:0;
  animation-play-state: paused;
  animation-name: showVotes;
  animation-duration: 2s;
  animation-delay: $animation-length;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  @keyframes showVotes {
    0% {
      opacity:0;
    }
    50%{
      opacity:0;
    }
    60%{
      opacity:1;
    }
    100%{
      opacity:1;
    }
  }
}
.animate-grow-box {
  animation-play-state: paused;
  animation-name: animate-grow-box;
  animation-duration: $animation-length;
  animation-delay: $delay;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  opacity:0;
}
@keyframes animate-grow-box {
  0% {
    opacity:0;
    padding:0px;
  }
  10%{
    opacity:1;
  }
  30%{
    opacity:1;
    padding:0;
  }
  40%{
    bottom:150px;
    left:150px;
    width:70px;
    height:43px;
    padding:0px;
  }
  50% {
    left:160px;
    bottom:150;
    width:170px;
    height:175px;
    opacity:1;
    padding:20px 10px;
  }
  90% {
    left:160px;
    bottom:150;
    width:170px;
    height:175px;
    padding:20px 10px;
  }
  100% {
    left:190px;
    bottom:310;
    width:150px;
    height:175px;
    opacity:1;
    padding:20px 10px;
  }
}

#triangle-green.animate-pointer{
  animation-play-state: paused;
  animation-name: triangleGreen;
  animation-duration: $animation-length;
  animation-delay: $delay;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes triangleGreen {
  0%{
    right: 10px;
  }
  40%{
    right: 10px;
  }
  50%{
   opacity:1;
   right:100px;
  }
  90%{
    opacity:1;
  }
  100%{
    opacity:0;
    right:100px;
  }
}
#triangle-white.animate-pointer {
  animation-play-state: paused;
  animation-name: triangleWhite;
  animation-duration: $animation-length;
  animation-delay: $delay;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes triangleWhite {
  0%{
    opacity:1;
    right: 11px;
  }
  40%{
    right:11px;
  }
  50% {
   right:101px;
  }
  90%{
    opacity:1;
  }
  100%{
    opacity:0;
    right:101px;
  }
}

.animate-post-content {
  animation-play-state: paused;
  animation-name: postContent;
  animation-duration: $animation-length;
  animation-delay: $delay;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  opacity:0;
  width:0px;
  height:0px;
}
@keyframes postContent {
  40% {
    opacity:0;
    height:0px;
    width:0px;
  }
  50% {
   opacity:1;
   width:75%;
   height:30px;
  }
  100% {
   opacity:1;
   width:75%;
   height:30px;
  }
}

#reply-avi{
  position:absolute;
  width:30px;
  bottom:0px;
  right:-40px;
}
#reply-speech-bubble{
  position:absolute;
  background-color: $cit-green;
  width:110px;
  bottom:260px;
  left:190px;
  border:none;
  padding-top: 3px;
  .text-line {
    border-color: white;
  }
}
.reply-animate{
  animation-play-state: paused;
  opacity:0;
  animation-name: replyBubble;
  animation-duration: $animation-length;
  animation-delay: $delay;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes replyBubble {
  95% {
    opacity:0;
  }
  100%{
    opacity:1;
  }
}

}
}
