#home {
#citizenvoice{

#triangle-green {
  transform: skew(22deg);
  position:absolute;
  bottom: -27px;
  right:10px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 15px solid transparent;
  border-top: 12px solid $half-cit-green;
}
#triangle-white {
  transform: skew(22deg);
  position: absolute;
  bottom: -23px;
  right: 11px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 15px solid transparent;
  border-top: 12px solid white;
}
.animate-votes {
  color: $cit-green;
  margin-top: 3px;
  font-size:25px;
  font-family: 'museo-sans';
  position: absolute;
  border-radius: 5px;
  margin: 0px;
  top:0;
  bottom:0;
  left:0;
  right:0;
  text-align: center;
  background-color: white;
}
.text-line{
  height:1px;
  border-top:2px solid #DCDCDC;
  border-bottom: 1px solid #DCDCDC;
  border-radius: 2px;
  margin-top: 3px;
  margin-bottom: 7px;
}
.text-last-line{
  width:70%;
  z-index: 99;
}
#post-title{
  border-top:3px solid $cit-green;
  border-bottom: 3px solid $cit-green;
  width: 75%;
  margin-bottom: 15px;
}
#play-button{
   transition:opacity 1s;
   left:120px;
   position:absolute;
   z-index: 99;
   width:250px;
   bottom:-300px;
   display:flex;
   align-items:center;
   flex-direction:column;
     h3 {
      font-family: 'museo-sans';
      color:$half-cit-green;
     }
}
#end-animation{
      animation: 1s linear $animation-length + 2s 1 normal forwards paused hideTitles;
      opacity:1;
      transform-origin: 50% 0%;
        @keyframes hideTitles {
          0% {
            opacity:1;
          }
          60% {
            opacity:1;
            transform:scale(1, 1)
          }
          100%{
            opacity:0;
            transform:scale(1.2, 1.2);
          }
        }
}
#flash-titles-container {
  margin-top: -50px;
  position:absolute;
  padding-top: 100px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display:flex;
  align-items:center;
  justify-content:center;
    #faze-animate{
      animation: $animation-length linear 1s 1 normal forwards paused popTitles;
      transform-origin: 50% 0%;
    }
    #last-title{
      h2 {
        font-family: 'museo-sans';
        height:0px;
        margin:0px;
        color:#4E4E4E;
        font-size: 34px;
      }
      width:500px;
      position:absolute;
      height:300px;
      overflow: hidden;
      text-align: center;
      transform-origin: 50% 0%;
      animation: 4s linear $animation-length + 3s 1 normal forwards paused showLastTitle;
      opacity:0;

    }
    @keyframes showLastTitle {
            0% {
              opacity:0;
              transform:scale(1.4,1.4)
            }
            15%{
              opacity:0;
              transform:scale(1.4,1.4)
            }
            25%{
              opacity:1;
              transform:scale(1 ,1)
            }
            85%{
              opacity:1;
              transform:scale(1,1)
            }
            88%{
              opacity:0;
              transform:scale(1.2,1.2)
            }
            100%{
              opacity:0;
              transform:scale(1.2,1.2)
            }
            100%{
              opacity:0;
              transform:scale(1.2,1.2)
            }
    }
    @keyframes popTitles {
           0% {
            transform:scale(1.2,1.2);
           }
           2%{
            transform:scale(1 ,1)
           }
           36%{
            transform:scale(1 ,1)
           }
           39%{
            transform:scale(1.2 ,1.2)
           }
           43% {
            transform:scale(1.2 ,1.2)
           }
           46%{
            transform:scale(1 ,1)
           }
           77%{
            transform:scale(1 ,1)
           }
           79%{
            transform:scale(1.2 ,1.2)
           }
           87% {
            transform:scale(1.2 ,1.2)
           }
           90% {
            transform:scale(1 ,1)
           }
           100% {
            transform:scale(1 ,1)
           }
        }

    #flash-titles-view-box {
      padding-top: 20px;
      width:600px;
      height:300px;
      overflow: hidden;
      text-align: center;
      padding-top: 0px;
      animation: $animation-length linear 1s 1 normal forwards paused showTitles;
      opacity:0;
        @keyframes showTitles {
            0% {
              opacity:0;
            }
            10%{
              opacity:1;
            }
            35%{
              opacity:1;
            }
            37%{
              opacity: 0;
             }
           44% {
            opacity:0;
           }
           50%{
            opacity:1;
           }
           75%{
            opacity:1;
           }
           80%{
            opacity:0;
           }
           85% {
            opacity:0;
           }
           90% {
            opacity:1;
           }
           100% {
            opacity:1;
           }
        }
    h2 {
      padding-bottom: 400px;
      font-family: 'museo-sans';
      height:0px;
      margin:0px;
      color:#4E4E4E;
      font-size: 34px;
    }
    span {
      color: $cit-green;
    }
    #title-control{
      animation: $animation-length linear 1s 1 normal forwards paused titleSlide,
                 $animation-length linear 1s 1 normal forwards paused popTitles;
      transform-origin: 50% 0%;
     }
      @keyframes titleSlide {
        0% {
          margin-top: 0px;
        }
        38%{
          margin-top: 0px;
        }
        39%{
          margin-top: -400px;
        }
        83%{
          margin-top: -400px;
        }
        84% {
          margin-top: -800px;
        }
        100% {
          margin-top: -800px;
        }
      }
  }
}

#citizen-voice-main-text{
  animation: $animation-length + 8s linear 0s 1 normal forwards paused hideShow;
}
@keyframes hideShow {
  0% {
    opacity:1;
  }
  5%{
    opacity:0;
  }
  95% {
    opacity:0;
  }
  100%{
    opacity:1;
  }
}

.play-animation {
  animation-play-state: running !important;
}
#play-stroked-path{
  animation: 20s linear 0s 1 normal forwards running spinCounterClockwise;
  transform-origin:50% 50%;
}
#play-solid-path{
  animation: 23s linear 0s 1 normal forwards running spinClockwise;
  transform-origin:50% 50%;
}
@keyframes spinCounterClockwise {
  0% {
    transform:rotate(360deg)
  }
  100% {
    transform:rotate(0deg)
  }
}
@keyframes spinClockwise {
  0% {
    transform:rotate(0deg)
  }
  100% {
    transform:rotate(360deg)
  }
}
.text-block{
  width:75%;
  margin-bottom: 2px;
  margin-top: 4px;
}

.dynamic-speech-bubble {
  flex-direction: column;
  display:flex;
  align-items:center;
  position:absolute;
  z-index: 99;
  width:70px;
  height:43px;
  border: 2px solid $half-cit-green;
  border-radius: 7px;
  background-color: white;
}
#speech-bubble-1{
  bottom:150px;
  left:150px;
}
#speech-bubble-2{
  bottom:210px;
  left:490px;
  animation-delay:$delay + 0.8s;
}
#speech-bubble-3{
  bottom:140px;
  right:200px;
  animation-delay:$delay + 1.2s;
}

span#post-tag {
  color:$cit-green;
  font-size: 24px;
  bottom:20px;
  left:30px;
  max-width: 30px !important;
  max-height: 30px !important;
  position:absolute;
}
img#tagged-avi {
  max-width:20px !important;
  max-height: 20px !important;
  bottom:23px;
  left:50px;
  position:absolute;
}

#post-paragraph-end{
  margin-bottom: 15px;
}

.animate-speech-bubble {
  animation: $animation-length linear $delay 1 normal forwards paused animate-speech-bubble;
  opacity:0;
}
@keyframes animate-speech-bubble {
  0% {
    opacity: 0;
    transform:scale(1, 1);
  }
  4%{
    transform:scale(1, 1);
    opacity:0;
  }
  5% {
    transform:scale(1.5,1.5);
  }
  6%{
    transform:scale(1.1, 1.1);
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
#animated-votes-1{
  animation: 0.2s linear $animation-length + 4.5s 1 normal forwards paused popVotes,
             2s linear $animation-length + 3.5s 1 normal forwards paused showVotes;
}
.animate-votes {
  opacity:0;

  animation: 0.2s linear $animation-length + 4s 1 normal forwards paused popVotes,
             2s linear $animation-length + 3s 1 normal forwards paused showVotes;
  @keyframes popVotes {
    0% {
      font-size: 25px;
    }
    50%{
      font-size: 33px;
    }
    100%{
      font-size: 25px;
    }
  }
  @keyframes showVotes {
    0% {
      opacity:0;
    }
    50%{
      opacity:0;
    }
    60%{
      opacity:1;
    }
    100%{
      opacity:1;
    }
  }
}


.animate-grow-box {
  animation: $animation-length linear $delay 1 normal forwards paused animate-grow-box;
  opacity:0;
  transform:scale(1.2, 1.2);
}
@keyframes animate-grow-box {
  0% {
    opacity: 0;
    transform:scale(1, 1);
  }
  4%{
    transform:scale(1, 1);
    opacity:0;
  }
  5% {
    transform:scale(1.5,1.5);
  }
  6%{
    transform:scale(1.1, 1.1);
    opacity: 1;
  }
  10%{
    opacity:1;
  }
  34%{
    opacity:1;
    padding:0;
  }
  44%{
    bottom:150px;
    left:150px;
    width:70px;
    height:43px;
    padding:0px;
  }
  48% {
    left:160px;
    bottom:150;
    width:150px;
    height:175px;
    opacity:1;
    padding:20px 10px;
  }
  90% {
    left:160px;
    bottom:150;
    width:150px;
    height:175px;
    padding:20px 10px;
  }
  98% {
    left:190px;
    bottom:310;
    width:150px;
    height:175px;
    opacity:1;
    padding:20px 10px;
  }
  100% {
    left:190px;
    bottom:310;
    width:150px;
    height:175px;
    opacity:1;
    padding:20px 10px;
  }
}

#triangle-green.animate-pointer{
  animation: $animation-length linear $delay 1 normal forwards paused triangleGreen;
}
@keyframes triangleGreen {
  0%{
    right: 10px;
  }
  44%{
    right: 10px;
  }
  48%{
   opacity:1;
   right:100px;
  }
  90%{
    opacity:1;
  }
  100%{
    opacity:0;
    right:100px;
  }
}
#triangle-white.animate-pointer {
  animation: $animation-length linear $delay 1 normal forwards paused triangleWhite;
}
@keyframes triangleWhite {
  0%{
    opacity:1;
    right: 11px;
  }
  44%{
    right:11px;
  }
  48% {
   right:101px;
  }
  90%{
    opacity:1;
  }
  100%{
    opacity:0;
    right:101px;
  }
}

.animate-post-content {
  animation: $animation-length linear $delay 1 normal forwards paused postContent;
  opacity:0;
  width:0px;
  height:0px;
}
@keyframes postContent {
  46% {
    opacity:0;
    height:0px;
    width:0px;
  }
  50% {
   opacity:1;
   width:75%;
   height:30px;
  }
  100% {
   opacity:1;
   width:75%;
   height:30px;
  }
}
#reply-avi2{
  position:absolute;
  width:30px;
  bottom:15px;
  right:-40px;
}
#reply-speech-bubble2{
  height:initial;
  position:absolute;
  background-color: $cit-green;
  width:150px;
  bottom:180px;
  left:180px;
  border:none;
  padding-top: 6px;
  padding-bottom: 6px;
  animation-delay: 2s;
  .text-line {
    border-color: white;
  }
}
#reply-avi{
  position:absolute;
  width:30px;
  bottom:5px;
  right:160px;
}
#reply-speech-bubble{
  transform:scale(1.2, 1.2);
  position:absolute;
  background-color: $cit-green;
  width:150px;
  bottom:240px;
  left:225px;
  border:none;
  height:40px;
  padding-bottom: 6px;
  padding-top: 6px;
  .text-line {
    border-color: white;
  }
}
.reply-animate{
  animation-play-state: paused;
  opacity:0;
  animation: $animation-length linear $delay + 0.2s 1 normal forwards paused replyBubble;
}

@keyframes replyBubble {
  95% {
    opacity:0;
    transform:scale(1, 1)
  }
  97%{
    transform:scale(1.2, 1.2)
  }
  98%{
    transform:scale(1, 1)
  }
  100%{
    opacity:1;
    transform:scale(1, 1)
  }
}

}
}
