#home {
#citizenvoice{

#triangle-green {
  position:absolute;
  bottom: -30px;
  right:10px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 15px solid transparent;
  border-top: 15px solid #65D565;
}
#triangle-white {
  position: absolute;
  bottom: -25px;
  right: 10px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 15px solid transparent;
  border-top: 15px solid white;
}
.text-line{
  height:1px;
  border-top:2px solid #DCDCDC;
  border-bottom: 2px solid #DCDCDC;
  border-radius: 2px;
  margin-top: 3px;
  margin-bottom: 5px;
}
.text-last-line{
  width:70%;
  z-index: 99;
}
#post-title{
  border-top:3px solid #65D565;
  border-bottom: 3px solid #65D565;
  width: 75%;
  margin-bottom: 15px;
}
.text-block{
  height:75%;
  width:75%;
}

.dynamic-speech-bubble {
  flex-direction: column;
  display:flex;
  align-items:center;
  justify-content:center;
  position:absolute;
  z-index: 99;
  width:70px;
  height:43px;
  border: 3px solid #65D565;
  border-radius: 6px;
  background-color: white;
  // opacity:0;
}
#speech-bubble-1{
  bottom:150px;
  left:150px;
}
#speech-bubble-2{
  bottom:210px;
  left:490px;
}
#speech-bubble-3{
  bottom:140px;
  right:200px;
}
#reply-speech-bubble{
  bottom:-60px;
  width: 120px;
  left:0px;
    #reply-avi{
      position:absolute;
      width:30px;
      bottom:-10px;
      right:-40px;
    }
}
#speech-bubble-grow-test {
  left:210px;
  bottom:370;
  width:160px;
  height:183;
  padding:10px 5px;
}
span#post-tag {
  color:#65D565;
  font-size: 24px;
  bottom:20px;
  left:30px;
}
img#tagged-avi {
  max-width:20px !important;
  max-height: 20px !important;
  bottom:23px;
  left:50px;
}

#post-paragraph-end{
  margin-bottom: 15px;
}


.animate-speech-bubble {
  animation-name: animate-speech-bubble;
  animation-duration: 1.5s;
  animation-delay: $delay;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  opacity:0;
}
@keyframes animate-speech-bubble {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-grow-box {
  animation-name: animate-grow-box;
  animation-duration: 2.5s;
  animation-delay: $delay;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  opacity:0;
}
@keyframes animate-grow-box {
  0% {
    opacity:0;
    padding:0px;
  }
  50%{
    opacity:1;
    bottom:150px;
    left:150px;
    width:70px;
    height:43px;
    padding:0px;
  }
  100% {
    left:210px;
    bottom:370;
    width:160px;
    height:183;
    opacity:1;
    padding:20px 15px;
  }
}

#triangle-green.animate-pointer, #triangle-white.animate-pointer {
  animation-name: triangles;
  animation-duration: $step;
  animation-delay: 2.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes triangles {
  100% {
   opacity:0
  }
}

.animate-post-content {
  animation-name: postContent;
  animation-duration: $step;
  animation-delay: 2.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  opacity:0;
  width:0px;
  height:0px;
  position:absolute;
}
@keyframes postContent {
  0% {
    opacity:0;
    height:0px;
    width:0px;
  }
  100% {
   opacity:1;
   width:30px;
   height:30px;
  }
}


}
}
