#burger-button {
  position:fixed;
  top:10px;
  right:10px;
  cursor:pointer;
  z-index: 99;
  width:25px;
  height:25px;
  overflow:hidden;
}

// #menu-shadow {
//   transition:all 0.25s;
//   z-index: -1;
//   right:-100px;
//   top:-100px;
//   overflow: hidden;
// }

#circle-container{
  height: 40px;
  width: 40px;
  z-index: 99;
  position: fixed;
  top: 25px;
  right: 30px;
  border: 1px solid black;
  border-radius: 50%;
}

.b-a {
   transition: all .25s;
   content: "";
   position: absolute;
   right: 0px;
   height: 3px;
   width: 20px;
   border-radius: 15px;
   background-color: black;
}
.menu-collapsed {
   // transition: all .25s;
   position: fixed;
   height: 250px;
   width: 180px;
   top: -500px;
   right: -500px;
   z-index: 1;
   cursor: pointer;
   ul {
       left:0px;
   padding: 0px 20px;
      margin-top: 65px;
      transition: all 0s;
      right:10px;
      // bottom:0px;
   }
}
.bar {
   z-index: 99;
   @extend .b-a;
   position: absolute;
   right: 9px;
   top: 19px;
   &:before {
      @extend .b-a;
      top: -6px;
   }
   &:after {
      @extend .b-a;
      top: 6px;
   }
}
.b-a-expanded {
   transition: all .25s;
   top: -0px;
}

#menu-toggle:checked ~ label #menu-expanded {
   transition: width .4s;
   line-height: 50px;
   height: 250px;
   width: 180px;
   border-radius: 0px;
   right: 10px;
   top:10px;
   background-color: white;
   border: 1px solid black;
   overflow:hidden;
   ul {
      transition: 0.5s;
      position: absolute;
      left: 0px;
      width:180px;
      z-index: 2;
      margin-top: 65px;
      list-style:none;
      padding-left: 0px;
      margin-bottom: 15px;
      font-family: 'museo-sans', sans-serif;
      padding: 0px 20px;
      text-align: center;
   }
   li {
    height:50px;
    overflow:hidden;
   }
   #coming-soon:hover a {
    transition: all 0.6s;
    border: none;
    margin-top: -50px;
    cursor:default;
   }
   a {
      transition: all .25s;
      text-decoration: none;
      font-size:16px;
      padding: 1px;
      color: black;
      display:block;
      height:99%;
      &:hover {
         // background-color:rgba(white, .8);
         transition: all .15s;
         color:black;
         border: 1px solid black;
      }
   }
   #circle-container{
    border-color: black;
   }
   .bar {
      background-color: transparent;
      transition: all .25s;
      &:before {
         @extend .b-a-expanded;
         transform: rotate(45deg);
         background-color: black;
      }
      &:after {
         @extend .b-a-expanded;
         transform: rotate(-45deg);
         background-color: black;
      }
   }
}
#menu-expanded.grow-to-form {
  height: 300px !important;
  width:280px !important;
}

#contact-box {
  position:absolute;
  transition:all 0.5s;
  justify-content: space-around;
  padding: 30px;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  width: 280px;
  left:-400px;
  input {
    margin-bottom: 10px;
  }
}

.grow-to-form #contact-box {
  left:0px;
    transition: all 0.5s;
}
#menu-box{
  transition: all 0.5s;
}
.grow-to-form #menu-box {
  transition: all 0.5s !important;
  left:700px !important;
}

#contact-box textarea {
  border: 1px solid lightgrey;
  padding-top: 10px;
  height:100px;
  line-height: 20px;
  font-weight: 400;
  padding-left: 10px;
  color:grey;
  font-family: 'inconsolata', sans-serif;
}

#contact-box input[type="email"] {
  font-weight:500;
  height:30px;
  margin-top: 10px;
  padding-left: 10px;
  font-family: 'inconsolata', sans-serif;
}
