button.view-project{
  color:white;
  font-family: 'museo-sans';
  padding:14px;
  font-size: 16px;
  border:none;
}

#page-down {
   position:fixed;
   top:0;
   left:0;
   z-index: 99;
}

#page-up {
  z-index: 99;
  position:fixed;
  top:0;
  left:70;
}

button#cv-button{
  background-color: $cit-green;
}


