@font-face {
    font-family: 'futura-pt-bold';
    src: url('../dist/fonts/futura-pt-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'futura-pt';
    src: url('../dist/fonts/futura-pt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inconsolata-Bold';
    src: url('../dist/fonts/Inconsolata-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gothamrnd-book';
    src: url('../dist/fonts/gothamrnd-book-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gothamrnd-bold';
    src: url('../dist/fonts/gothamrnd-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inconsolata-Regular';
    src: url('../dist/fonts/Inconsolata-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'museo-sans-100';
    src: url('../dist/fonts/museosans-100.ttf') format('truetype');
    font-weight: light;
    font-style: normal;
}

@font-face {
    font-family: 'museo-sans-500';
    src: url('../dist/fonts/museosans-300.ttf') format('truetype');
    font-weight: light;
    font-style: normal;
}
@font-face {
    font-family: 'museo-sans';
    src: url('../dist/fonts/museosans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
