 #home{
    .shape {
      position: absolute;
      width:200px;
      img {
        width: 100%;
      }
    }
    .svg-shape {
      position: absolute;
      width:200px;
      img {
        width: 100%;
      }
    }
    #square{
      width:300px;
      top:-50px;
      left:300px;
    }
    #circle{
      width:450px;
      left:30%;
      bottom:-170;
    }
    #triangle{
      width:70px;
      top:50;
      right:360;
    }
    #polygon{
      width:170px;
      bottom:170;
      right:220;
    }
    #solid-circle{
      width:110px;
      bottom:240;
      left:200;
    }
    #solid-circle2{
      width:120px;
      top:-25;
      right:180;
    }
    #circ-2{
      width:80px;
      top:-25;
      left:-20px;
    }
    #circ-3{
      width:200px;
      top:20%;
      right:-55px;
    }
    #circ-4{
      width:60px;
      bottom:100px;
      left:75px;
    }
    #circ-5{
      width:40px;
      bottom:20px;
      right:145px;
    }
    #svg{
      position: absolute;
      width:90px;
      height:90px;
      bottom:480px;
      right:435px;
    }
  }
