#home {
#citizenvoice{

#triangle-green {
  transform: skew(22deg);
  position:absolute;
  bottom: -27px;
  right:10px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 15px solid transparent;
  border-top: 12px solid $half-cit-green;
}
#triangle-white {
  transform: skew(0deg);
  position: absolute;
  bottom: -12px;
  right: -10px;
  border-left: 9px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 15px solid transparent;
  border-top: 12px solid white;
}
.animate-votes {
  color: $cit-green;
  margin-top: 3px;
  font-size:25px;
  font-family: 'museo-sans';
  position: absolute;
  border-radius: 5px;
  margin: 0px;
  top:0;
  bottom:0;
  left:0;
  right:0;
  text-align: center;
  background-color: white;
}
.text-line{
  height:1px;
  border-top:2px solid #DCDCDC;
  border-bottom: 1px solid #DCDCDC;
  border-radius: 2px;
  margin-top: 3px;
  margin-bottom: 7px;
}
.text-last-line{
  width:70%;
  z-index: 99;
}
#post-title{
  border-top:3px solid $cit-green;
  border-bottom: 3px solid $cit-green;
  width: 75%;
  margin-bottom: 15px;
}
#play-button{
   transition:opacity 1s;
   left:150px;
   cursor: pointer;
   z-index: 99;
   width:250px;
   bottom:-300px;
   display:flex;
   align-items:center;
   flex-direction:column;
   animation: $animation-length linear 0s 1 normal none paused hideShowPlayButton;
     & :hover {
      cursor:pointer;
     }
     h3 ,a {
      font-family: 'museo-sans';
      color: lightgrey;
      font-size: 20px;
      text-decoration: none !important;
     }
}
#triangle-3 {
  transform: translate(11px, 11px) scale(.8,.8);
}
@keyframes hideShowPlayButton {
  0% {
    opacity:1;
  }
  2%{
    opacity:0;
  }
  98% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

#citizen-voice-main-text{
  animation: $animation-length linear 0s 1 normal none paused hideShow;
}
@keyframes hideShow {
  0% {
    opacity:1;
  }
  4%{
    opacity:0;
  }
  95% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

.play-animation {
  animation-play-state: running !important;
  transition: opacity 1s
}
#play-stroked-path{
  animation: 24s linear 0s infinite normal forwards running spinCounterClockwise;
  transform-origin:50% 50%;
  stroke-opacity:.7;
}
#play-solid-path{
    stroke-opacity:.7;
  animation: 27s linear 0s infinite normal forwards running spinClockwise;
  transform-origin:50% 50%;
}
@keyframes spinCounterClockwise {
  0% {
    transform:rotate(360deg)
  }
  100% {
    transform:rotate(0deg)
  }
}
@keyframes spinClockwise {
  0% {
    transform:rotate(0deg)
  }
  100% {
    transform:rotate(360deg)
  }
}
.text-block{
  width:75%;
  margin-bottom: 2px;
  margin-top: 4px;
}

.dynamic-speech-bubble {
  flex-direction: column;
  display:flex;
  align-items:center;
  position:absolute;
  z-index: 99;
  width:70px;
  height:43px;
  border: 2px solid $half-cit-green;
  border-radius: 7px;
  background-color: white;
}
#speech-bubble-1{
  bottom:150px;
  left:150px;
}
#speech-bubble-2{
  bottom:210px;
  left:490px;
  animation-delay:$delay + 0.8s;
}
#speech-bubble-3{
  bottom:140px;
  right:200px;
  animation-delay:$delay + 1.2s;
}

#post-paragraph-end{
  margin-bottom: 15px;
}

.animate-speech-bubble {
  animation: $animation-length linear 0s 1 normal forwards paused animate-speech-bubble;
  opacity:0;
}
@keyframes animate-speech-bubble {
  0% {
    opacity: 0;
    transform:scale(1, 1);
  }
  2%{
    transform:scale(1, 1);
    opacity:0;
  }
  3% {
    transform:scale(1.5,1.5);
  }
  4%{
    transform:scale(1.1, 1.1);
    opacity: 1;
  }
  82%{
    opacity:1
  }
  84%{
    opacity:0;
  }
  100% {
    opacity: 0;
  }
}
#animated-votes-1{
  animation-delay: 0.5s;
}
.animate-votes {
  opacity:0;
  animation: $animation-length linear 0s 1 normal forwards paused popVotes,
             $animation-length linear 0s 1 normal forwards paused showVotes;
  @keyframes popVotes {
    0% {
      font-size: 25px;
    }
    75%{
      font-size: 25px;
    }
    76%{
      font-size: 33px;
    }
    77%{
      font-size: 25px;
    }
    100%{
      font-size: 25px;
    }
  }
  @keyframes showVotes {
    0% {
      opacity:0;
    }
    74%{
      opacity:0;
    }
    77%{
      opacity:1;
    }
    90%{
      opacity:1
    }
    92%{
      opacity:0;
    }
    100%{
      opacity:0;
    }
  }
}


.animate-grow-box {
  animation: $animation-length linear 1 normal forwards paused animate-grow-box;
  opacity:0;
  transform:scale(1.2, 1.2);
}
@keyframes animate-grow-box {
  0% {
    opacity: 0;
    transform:scale(1, 1);
  }
  4%{
    opacity: 0;
    transform:scale(1, 1);
  }
  6%{
    transform:scale(1, 1);
    opacity:0;
  }
  7% {
    transform:scale(1.5,1.5);
  }
  8%{
    transform:scale(1.1, 1.1);
    opacity: 1;
  }
  9%{
    opacity:1;
  }
  17%{
    opacity:1;
    padding:0;
  }
  26%{
    bottom:150px;
    left:150px;
    width:70px;
    height:43px;
    padding:0px;
  }
  28% {
    left:160px;
    bottom:150;
    width:150px;
    height:175px;
    opacity:1;
    padding:20px 10px;
  }
  45% {
    left:160px;
    bottom:150;
    width:150px;
    height:175px;
    padding:20px 10px;
  }
  49% {
    left:190px;
    bottom:310;
    width:150px;
    height:175px;
    opacity:1;
    padding:20px 10px;
  }
  50% {
    left:190px;
    bottom:310;
    width:150px;
    height:175px;
    opacity:1;
    padding:20px 10px;
  }
  90%{
    opacity:1
  }
  92%{
    opacity:0;
  }
  100% {
    left:190px;
    bottom:310;
    width:150px;
    height:175px;
    opacity:0;
    padding:20px 10px;
  }
}

#triangle-green.animate-pointer{
  animation: $animation-length linear 0s 1 normal forwards paused triangleGreen;
  opacity:0;
}
@keyframes triangleGreen {
  0%{
    right: 10px;
  }
  5%{
    opacity:1;
  }
  26%{
    right: 10px;
  }
  28%{
   opacity:1;
   right:100px;
  }
  43%{
    opacity:1;
  }
  48%{
    opacity:0;
    right:100px;
  }
  100%{
    opacity:0;
    right:100px;
  }
}

span#post-tag {
  color:$cit-green;
  font-size: 20px;
  bottom:17px;
  left:30px;
  max-width: 30px !important;
  max-height: 30px !important;
  position:absolute;
}
img#tagged-avi {
  max-width:20px !important;
  max-height: 20px !important;
  bottom:23px;
  left:50px;
  position:absolute;
}
.post-tag-2{
 left:80px !important;
 animation-delay:1s !important;
}
.tagged-avi-2{
 left:100px !important;
 animation-delay:1s !important;
}
.animate-post-tag {
  animation: $animation-length linear 0s 1 normal forwards paused postTag;
  opacity:0;
  width:30px;
  height:75%;
}
@keyframes postTag {
  31% {
    opacity:0;
    height:30px;
    width:75%;
    transform:scale(1, 1)
  }
  32% {
   transform:scale(1.3, 1.3);
   opacity:1;
   width:75%;
   height:30px;
  }
  33%{
    transform:scale(1, 1)
  }
  50% {
   opacity:1;
   width:75%;
   height:30px;
  }
  100% {
   opacity:1;
   width:75%;
   height:30px;
  }
}

.animate-post-content {
  animation: $animation-length linear 0s 1 normal forwards paused postContent;
  opacity:0;
  width:0px;
  height:0px;
}
@keyframes postContent {
  26% {
    opacity:0;
    height:0px;
    width:0px;
  }
  28% {
   opacity:1;
   width:75%;
   height:30px;
  }
  50% {
   opacity:1;
   width:75%;
   height:30px;
  }
  100% {
   opacity:1;
   width:75%;
   height:30px;
  }
}
#reply-avi2{
  position:absolute;
  width:30px;
  bottom:15px;
  right:-40px;
}
#reply-speech-bubble2{
  height:initial;
  position:absolute;
  background-color: $cit-green;
  width:150px;
  bottom:180px;
  left:180px;
  border:none;
  padding-top: 6px;
  padding-bottom: 6px;
  animation-delay: 2s;
  .text-line {
    border-color: white;
  }
}
#reply-avi{
  position:absolute;
  width:30px;
  bottom:5px;
  right:160px;
}
#reply-speech-bubble{
  transform:scale(1.2, 1.2);
  position:absolute;
  background-color: $cit-green;
  width:150px;
  bottom:240px;
  left:225px;
  border:none;
  height:40px;
  padding-bottom: 6px;
  padding-top: 6px;
  .text-line {
    border-color: white;
  }
}
.reply-animate{
  animation-play-state: paused;
  opacity:0;
  animation: $animation-length linear $delay + 0.2s 1 normal none paused replyBubble;
}

@keyframes replyBubble {
  47% {
    opacity:0;
    transform:scale(1, 1)
  }
  48%{
    transform:scale(1.2, 1.2)
  }
  49%{
    transform:scale(1, 1)
  }
  50%{
    opacity:1;
    transform:scale(1, 1)
  }
  82%{
    opacity:1
  }
  84%{
    opacity:0;
  }
  100%{
    opacity:0;
    transform:scale(1, 1)
  }
}

@media (max-width: 920px) {

  @keyframes animate-grow-box {
    0% {
      opacity: 0;
      transform:scale(1, 1);
    }
    4%{
      opacity: 0;
      transform:scale(1, 1);
    }
    6%{
      transform:scale(1, 1);
      opacity:0;
    }
    7% {
      transform:scale(1.5,1.5);
    }
    8%{
      transform:scale(1.1, 1.1);
      opacity: 1;
    }
    9%{
      opacity:1;
    }
    17%{
      opacity:1;
      padding:0;
    }
    26%{
      bottom:150px;
      left:150px;
      width:70px;
      height:43px;
      padding:0px;
    }
    28% {
      left:160px;
      bottom:150;
      width:150px;
      height:175px;
      opacity:1;
      padding:20px 10px;
    }
    45% {
      left:160px;
      bottom:150;
      width:150px;
      height:175px;
      padding:20px 10px;
    }
    49% {
      left:10vw;
      bottom:210;
      width:150px;
      height:175px;
      opacity:1;
      padding:20px 10px;
    }
    50% {
      left:10vw;
      bottom:210;
      width:150px;
      height:175px;
      opacity:1;
      padding:20px 10px;
    }
    90%{
      opacity:1
    }
    92%{
      opacity:0;
    }
    100% {
      left:10vw;
      bottom:210;
      width:150px;
      height:175px;
      opacity:0;
      padding:20px 10px;
    }
  }

  #reply-speech-bubble{
    transform:scale(1.2, 1.2);
    position:absolute;
    background-color: $cit-green;
    width:150px;
    bottom:150px;
    left:10vw;
    border:none;
    height:40px;
    padding-bottom: 6px;
    padding-top: 6px;
    .text-line {
      border-color: white;
    }
  }
  #reply-speech-bubble2{
    height:initial;
    position:absolute;
    background-color: $cit-green;
    width:150px;
    bottom:90px;
    left:10vw;
    border:none;
    padding-top: 6px;
    padding-bottom: 6px;
    animation-delay: 2s;
    .text-line {
      border-color: white;
    }
  }

  #speech-bubble-1{
  bottom:150px;
  left:150px;
}
#speech-bubble-2{
  bottom:180px;
  left:50%;
  animation-delay:$delay + 0.8s;
}
#speech-bubble-3{
  bottom:140px;
  right:20%;
  animation-delay:$delay + 1.2s;
}
}
}
}



