p {
  color: black;
  font-family: 'futura-pt', 'futura', sans-serif;
}
a:hover, a:visited, a:link, a:active{
    text-decoration: none;
}
a {
  text-decoration:none;
}
h1, h2, h3, h4, h5 {
  font-family: 'proxima-nova-bold', "Montserrat" sans-serif;
  color: black;
}
h1 {
  font-size: 39px;
}

body#home   {
  font-size: 18px;
}

$sans-serif-stack : #d0f3d0;

@media (min-width: 1200px){
  .container {
      width: 100vw;
      max-width: 1400px;
  }
}

$delay : 1s;
$animation-length : 21s;

$cit-green : #65D565;
// $cit-green: #65CC66;
$half-cit-green : #d0f3d0;
$light-grey : #EEEEEE;
$cit-gradient : linear-gradient(to bottom, #5bca5b, #58c158);
$lc-gradient : linear-gradient(to bottom, #70C5F1, #72c2ea);

$cv-btn : #73d073;
$lc-btn : #70C5F1;

$button-shadow : 3px 3px 5px #e0e0e0;

.custom-hidden{
  opacity:0 ;
}

@media (max-width: 767px) {
  .xs-hide {
    display:none !important;
  }
}

.hide-shrink{
  padding: 0px !important;
  margin: 0 !important;
  opacity:0 !important;
  width: 0px !important;
  height: 0px !important;
}


//large styles
@media (min-width: 1300px){
  h1 { font-size: 3vw; }
  h2 { font-size: 2.5vw; }
  h3 { font-size: 2vw; }
  h4 { font-size: 1.7vw; }
  p {font-size: 19px;  }
}


.bg-1 {
  position: absolute;
    height: 120%;
    width: 100%;
    top: -20%;
    left: -40%;
    box-shadow: 20px 50px 95px white;
    border-radius: 50%;
}

.bg-2 {
  position: absolute;
    height: 120%;
    width: 100%;
    top: -20%;
    left: -40%;
    box-shadow: 20px 50px 95px white;
    border-radius: 50%;
}
