p {
  color: black;
  font-family: 'Inconsolata-Regular', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'museo-sans', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

$delay : 1s;
$animation-length : 19s;

// $cit-green : #65D565;
$cit-green: #65CC66;
$half-cit-green : #d0f3d0;
$light-grey : #EEEEEE;

.custom-hidden{
  opacity:0 ;
}
