p {
  color: black;
  font-family: 'Inconsolata-Regular', sans-serif;
}
a:hover {
  text-decoration: none;
}
h1, h2, h3, h4 {
  font-family: 'museo-sans', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

$delay : 1s;
$animation-length : 19s;

$cit-green : #65D565;
// $cit-green: #65CC66;
$half-cit-green : #d0f3d0;
$light-grey : #EEEEEE;
$cit-gradient : linear-gradient(to bottom, #86d486, #58c158);

$lc-gradient : linear-gradient(to bottom, #70C5F1, #66B3DB);

$button-shadow : 3px 3px 5px #e0e0e0;

.custom-hidden{
  opacity:0 ;
}

.hide-shrink{
  padding: 0px !important;
  margin: 0 !important;
  opacity:0 !important;
  width: 0px !important;
  height: 0px !important;
}


//large styles
@media (min-width: 1100px){
  h1 { font-size: 3vw; }
}
