#home {
  #landing{
    display: flex;
    align-items: center;
    padding-top: 10vh;

    #icons {
      position:absolute;
      width: 20px;
      left:43;
      bottom:180;
      display:flex;
      justify-content:space-around;
      height:150px;
      flex-direction:column;
      a {
        width:100%;
        height:30px;
      }
      img {
        width: 100%;
        transition: all 0.5s;
      }
      #linkedin{
        width: 95%;
      }
      img:hover {
        opacity:0.9;
        transform:scale(1.2);
      }
    }

    h1{
      z-index: 9;
      width:60%;
      color:black;
      margin: auto;
      font-size: 40px;
      font-family: 'futura-pt-bold';
      .word-cutout{
        display:inline-block;
        position:relative;
        opacity: 1;
        margin-right: -4px;
        margin-left: -4px;
        img{
          height:44px;
        }
      }
      #border-cover{
        position:absolute;
        border: 2px solid white;
        left:0;
        right:0;
        top: 0px;
        bottom: 0px;
      }
    }
  }
}

//large styles
@media (min-width: 1100px){
  #home {
    #landing{
      h1{
        font-size: 3vw;
        .word-cutout img {
          height: 3.2vw;
        }
      }
    }
  }
}

@media (max-width: 420px){
  #home {
      #landing {
        h1{
          font-size: 33px;
          .word-cutout img {
            height: 37px;
          }
        }
      }
      #border-cover {
        top: -1px;
        right: -1px;
        left: -1px;
        bottom: -1px;
      }
      #logo, #icons {
        left: 20px !important;
      }
      #arrow-prompt {
        left: -75px;
      }
  }
}
