#link-cloud {
  #role h4, #year h4, #platform h4, #period {
    color:#6fc4ef;
  }
}
#link-box{
 position:absolute;
 bottom: 10vw;
 left: 10vw;
 width: 35%;
 max-width: 430px;
 z-index: 5;
 opacity: .9
}
#cloud-1 {
 position:absolute;
 width:200px;
 top:300px;
 left:100px;
}
#cloud-2 {
 position:absolute;
 width:200px;
 top:200px;
 left:400px;
}
#lc-background {
  position:absolute;
  width:125vw;
  bottom:-10px;
  left:-30px;
}
#lc-wrapper {
  color: black;
}
// #link-cloud-main-text :nth-child(3) {
//   padding-top:10px;
// }

#link-cloud-main-text {
    z-index: 9;
}

// LARGE SIZES
@media (min-width: 1300px){
  #link-box{
   min-width: 500px;
  }
}
