#home {
  #landing{
    display: flex;
    align-items: center;
    padding-top: 10vh;

    h1{
      z-index: 99;
      width:60%;
      margin: auto;
      font-size: 40px;
      font-family: 'futura-pt-bold';
      .word-cutout{
        display:inline-block;
        position:relative;
        opacity: 1;
        margin-right: -4px;
        margin-left: -4px;
        img{
          height:44px;
        }
      }
      #border-cover{
        position:absolute;
        border: 2px solid white;
        left:0;
        right:0;
        top: 0px;
        bottom: 0px;
      }
    }
  }
}
