#home {

  transition: background-color 1s;

  #page-down, #page-up {
   position:fixed;
   z-index: 99;
  }

  .scroll-page {
    padding: 20vh 5vw 5vh;
    position:fixed;
    width:100%;
    height: 100vh;
    top: 200vh;
    transition: top 1s;
    transition-timing-function: cubic-bezier(.34,-0.03,.16,1);
  }

  .layer-1{
    transition-delay: 0s;
  }

  .layer-2{
    transition-delay: 0.1s;
  }

  #landing{
    display: flex;
    align-items: center;

    h1{
      z-index: 99;
      width:60%;
      margin: auto;
      font-size: 48px;
      font-family: 'futura-pt-bold';
      #design{
        display:inline-block;
        position:relative;
        width:auto;
        img{
          height:52px;
        }
      }
      #border-cover{
        position:absolute;
        border: 3px solid white;
        left:0;
        right:0;
        top: 0px;
        bottom: 0px;
      }
    }
  }

  #citizenvoice {
    #role h4, #year h4, #platform h4, #period {
      color:#65D565;
    }
    #cv-background{
      position:absolute;
      bottom:0;
      margin-left: -5vw;
      width:100vw;
    }
  }

  #role {
    padding-left: 0px;
  }

  .in-view {
    top: 0px !important;
  }

 .viewed {
    top: -200vh !important;
  }

 .to-be-viewed {
    top: 200vh !important;
  }

}

  .backgroud-0 {
    background-color: white;
  }
  .background-1 {
    background-color: #F5F5F5;
  }
  .background-2{
    background-color: pink;
  }

